.wrapper {
  min-width: 100px;
  padding: 9px 6px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--font-family);
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;

  + .wrapper {
    margin-left: 30px;
  }
}

.primary {
  color: var(--black);
  background-color: #A2A378;
  border-color: #A2A378;

  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      var(--primary);
  }
}

.outline {
  color: var(--black);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(187, 248, 126, 0.36);
  }
}


// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
