.wrapper {
  border-top: 1px solid #1618231f;
}

.label {
  padding: 8px;
  font-size: 1.6rem;
  font-weight: 400;
}

.more-btn {
  padding: 8px;
  font-weight: 00;
  font-size: 1.6rem;
  color: #fe2c55;
  cursor: pointer;
}

.author-item {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 32px;
  margin-top: 6px;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.13);
  }
}

.author-info {
  margin-left: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 1.6rem;
  color: #000000;
}

.nickname {
  font-size: 1.2rem;
  color: #161823bf;
}
