.container{
  display: flex;
  align-items: center;
}

.menu-item {
display: flex;
width: 100%;
  padding: 8px 8px 8px 30px;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 4px;
  color: var(--text-color);
  transition: background-color ease-in-out 200ms;

  &.active{
    color: red;
    
    .icon{
      display: none;
    };
    
    .active-icon{
      display: flex;
      align-items: center;
    }
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.13);
  }
}

.icon {
    display: flex;
    align-items: center;
  }

.active-icon {
    display: none;
}

.title {
  font-family: var(--font-family);
  line-height: 25px;
  margin-left: 8px;
  padding: 4px;
}
