.wrapper {
    position: fixed;
    top: 52px;
    left: 0;
    bottom: 0;
    width: 344px;
    padding-top: 8px;
    overflow-y: auto;

    background-color: var(--primary);
}

.copyright{
    padding: 26px 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
}